'''
Group: Tabetha Pombo, Arushi Nigam, and Erika Gaebel
Course: DSCI 551 - Project
Date: April 25, 2022
Description: Style sheet that support ESG HUB project

'''
div.stApp.css-fg4pbf.eczokvf0{
    background: rgb(242, 242, 242;
    background-image: url('blue.jpg');
    #background-size: cover;
    #background-color: #e6f7ff;
   
}

h2#esg{
    color: white;
    text-align: center;
    font-size: 25px;
}

div.css-183lzff.eyqtai90{
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: italic
}

h2#choose-your-news{
    color: white;
}


div.element-container.css-1hynsf2.e1tzin5v1{
    text-align: center;
    color: white;
}



button.css-1cpxqw2.edgvbvh1{
    background-color: gray;
    border: 2px solid white;
    color: white;
}

h2#trends{
    color: white;
}

div.css-nlntq9.e16nr0p30{
    color: white;
}

h1#governance{
    color: white;
    text-align: left;
    margin-left: 0px;
}

h1#social{
    color: white;
    text-align: left;
    margin-left: 0px;
}

h1#environmental{
    color: white;
    text-align: left;
    margin-left: 0px;
}

h1#news{
    color: #006699;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;

}

h1#esg-news-trends-over-the-last-2-weeks{
    color: white;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
}

div.css-nlntq9.e16nr0p30{
    text-align: left;
    margin-left: 0px;
}

h3{
    color: white;
}

p{
    margin-left: 70px;
}

div.css-zbg2rx.e1fqkh3o1{
    background-color: rgba(0, 0, 128, 0.3);
}

label.css-qrbaxs.effi0qh0{
    color: white;
}
col{
    column-count: 3;
    column-gap: 40px;
    column-rule-width: 1px;
    column-rule-color: lightblue;
    
}